/* For WebKit-based browsers */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: black;
}

::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 17px;
}

/* Remove scrollbar buttons */
::-webkit-scrollbar-button {
  display: none;
}
.sentence-text {
  display: inline-block;
  
}
.sentence-text.overflown {
  animation: slide-text 5s linear infinite;
}
@keyframes slide-text {
  from {
    transform: translateX(100%);
  }
  
  to {
    transform: translateX(-100%);
  }
}