body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
html {
  font-size: 16px;
}

/* For screens smaller than 600px, reduce font size by 10% */
@media screen and (max-width: 600px) {
  html {
    font-size: 14px;
  }
}

/* For screens larger than 1200px, increase font size by 10% */
@media screen and (min-width: 1200px) {
  html {
    font-size: 18px;
  }
}